!!!
%html
  %head
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel => "stylesheet"}
    %body
      %h2 Sign up
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        %p
          = f.label :name
          %br/
          = f.text_field :name, :autofocus => true, :placeholder => "Name", :class => "form-control"
        %div
          = f.label :email
          %br/
          = f.email_field :email, :placeholder => "Email, ex: bamru@bamru.org", :class => "form-control"
        %div
          = f.label :role #AHC or field
          %br/
          = f.text_field :role, :placeholder => "AHC or field", :class => "form-control"
        %div
          = f.label :password
          %br/
          = f.password_field :password, :class => "form-control"
        %div
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, :class => "form-control"
        %br/
        %div= f.submit "Sign up", :class =>'btn btn-primary btn-lg'
      = render "devise/shared/links"
