!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            %link{:href => "../../assets/ico/favicon.png", :rel => "shortcut icon"}
              %title BAMRU Location Tracker
              / Latest compiled and minified CSS
              %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}
              %stylesheet_link_tag "typeahead.css"


  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} BAMRU Location Tracker
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            - if user_signed_in? 
              %li
                %a{:href => "/members"} Send Location Request
              %li
                %a{:href => "/locations"} Log Location
              %li
                = link_to "Sign out", destroy_user_session_path, :method => :delete
              %li
                = form_tag({:action => 'show', :controller => 'home'}, {:class => 'navbar-form'}) do
                  = text_field_tag :search_name, params[:search_name], :class=> "typeahead", data: {provide: 'typeahead'}, :placeholder => "Search locations by name"
                  = submit_tag :Search, {:id => "search_submit", :class => "btn btn-success button"}
          - if not user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Sign up", new_user_registration_path
            %form.navbar-form.navbar-right
              .form-group
                %input.form-control{:placeholder => "Email", :type => "text"}
              .form-group
                %input.form-control{:placeholder => "Password", :type => "password"}
              %button.btn.btn-success{:type => "submit"}= link_to "Sign in", new_user_session_path
        / /.navbar-collapse
      / /container
      /
        Bootstrap core JavaScript
        \==================================================
      / Placed at the end of the document so the pages load faster
      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
      / Latest compiled and minified JavaScript
      %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
      %script{:src =>"//twitter.github.com/typeahead.js/releases/latest/typeahead.js"}
      :javascript
        var data = #{@autocomplete_people.to_json};
          $(".typeahead").typeahead({
            name: 'search_name',
            local: data
          }); 

      
