-#  This file is app/views/tags/index.html.haml
%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}

= render "tags/topbar"

%br
%br
%h1 New Tag
%p Tag Name

%table.table.table-condensed#members
	%thead
		%tr
			%th Name
			%th Email
			%th Role
			%th Select
	%tbody

	= form_tag tags_path, :method => :post, :id => 'send_form' do
		- @members.each do |member|
			%tr
				%td= member.name
				%td= member.email
				%td= member.role
				%td= check_box_tag("members[#{member.name}]", member.id)
		.form-inline
			.form-group
				= text_field_tag 'tagname', nil, :placeholder => "Tag name, ex: A-Team", :class => "form-control"
			= submit_tag 'Create Tag', :id => 'create_tag', :class => 'btn btn-success'


%h1 Delete Tag
= form_tag massdel_tags_path, :method => :get, :id => 'del_form' do
	- Tags.uniq.pluck(:label).sort.each do |uniqtag|
		= uniqtag 
		= check_box_tag("#{uniqtag}", "#{uniqtag}", false)
	= submit_tag 'Delete Tag', :id => 'remove_tag', :class => 'btn btn-danger'

