<html>
<head>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th> Longitude </th>
				<th> Latitude </th>
				<th> Time </th>
				<th> User </th>
			</tr>
		</thead>
		<tbody>
			<%- @locations.each do |location| %>
			<tr>
				<td> <%= location.longitude %> </td>
				<td> <%= location.latitude %> </td>
				<td> <%= location.time %> </td>
				<td> <%= location.member %> </td>
			</tr>
			<%- end %>
		</tbody>
	</table>

	
<%= link_to "Get Location",
	{:controller => "locations", :action => "create"},
	:remote => true %>
	
<script>
  get_location();
</script>

</body>
</html>