<% content_for :javascript_includes do %>
	<%= javascript_include_tag "geolocation.js" %>
<% end %>	
<%= csrf_meta_tag %>


<table>
	<thead>
		<tr>
			<th> Longitude </th>
			<th> Latitude </th>
			<th> Time </th>
		</tr>
	</thead>
	<tbody>
		<%- @locations.each do |location| %>
		<tr>
			<td> <%= location.longitude %> </td>
			<td> <%= location.latitude %> </td>
			<td> <%= location.updated_at %> </td>
		</tr>
		<%- end %>
	</tbody>
</table>
<button id="find_my_location" name="find_my_location">
</button>
