<% content_for :javascript_includes do %>
	<%= javascript_include_tag "geolocation.js" %>
<% end %>	
<%= csrf_meta_tag %>
<%= stylesheet_link_tag "location"%>

<button name="find_my_location" id="find_my_location">
	Find My Location
</button>

<h3 id="location_show"></h3>


<table id="location_table">
	<thead>
		<tr>
			<th class="location_row"> Longitude </th>
			<th class="location_row"> Latitude </th>
			<th class="location_row"> Time </th>
		</tr>
	</thead>
	<tbody>
		<%- @locations.each do |location| %>
		<tr>
			<td class="location_row"> <%= location.longitude %> </td>
			<td class="location_row"> <%= location.latitude %> </td>
			<td class="location_row"> <%= location.updated_at %> </td>
		</tr>
		<%- end %>
	</tbody>
</table>

