<% content_for :javascript_includes do %>
	<%= javascript_include_tag "geolocation.js" %>
<% end %>	
<%= csrf_meta_tag %>
<%= stylesheet_link_tag "location"%>

<button name="find_my_location" id="find_my_location" class="location_button">
	Find My Location
</button>

<h3 id="location_show"></h3>

<%= button_to "Home", {controller: "home"}, id: "home_link", class: "location_button" %>

<table id="location_table">
	<thead>
		<tr>
			<th class="location_row"> <%= link_to "Name", locations_path(:sort => "name"), :id => "sort_name" %> </th>
			<th class="location_row"> Longitude </th>
			<th class="location_row"> Latitude </th>
			<th class="location_row"> <%= link_to "Time", locations_path(:sort => "time"), :id => "sort_time" %> </th>
		</tr>
	</thead>
	<tbody>
		<%- @locations.each do |location| %>
		<tr class="full_row">
			<td class="location_row"> <%= location.name %> </td>
			<td class="location_row"> <%= location.longitude %> </td>
			<td class="location_row"> <%= location.latitude %> </td>
			<td class="location_row"> <%= location.updated_at %> </td>
		</tr>
		<%- end %>
	</tbody>
</table>

