-#  This file is app/views/members/index.html.haml

%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}

-if not flash.empty?
	= flash[:notice]


%br
%br
%h1 Member to Member Query

= render 'members/topbar'

%p Select Tags:
All
= check_box_tag("members_all", "members_all", false, :onclick => "checkAll(this)")
- Tags.uniq.pluck(:label).sort.each do |tag|
	= tag 
	=check_box_tag("#{tag}", "#{tag}", false, :onclick => "checkTag(this)")


%table.table.table-condensed#members
	%thead
		%tr
			%th= link_to "Name", members_path(:sort => 'name'), :id => 'sort_name'
			%th= link_to "Email", members_path(:sort => 'email'), :id => 'sort_email'
			%th= link_to "Role", members_path(:sort => 'role'), :id => 'sort_role'
			%th Tags
			%th Select
	%tbody

	= form_tag "members/email", :method => :get, :id => 'send_form' do
		- @members.each do |member|
			%tr
				%td= member.name
				%td= member.email
				%td= member.role
				%td= labels = Tags.find_all_by_user_id(member.id).map{|record| record.label}*", "
				%td= check_box_tag("members[#{member.name}]", labels)
		.btn-group
			= submit_tag 'Send Request', :id => 'request_sent', :class => 'btn btn-success'
			= link_to "Edit Tags", "/tags", method: "get", :class => 'btn btn-default'
