-#  This file is app/views/members/index.html.haml

-if not flash.empty?
	= flash[:notice]

%h1 Member to Member Query

%table#members
	%thead
		%tr
			%th Name
			%th Email
			%th Role
			%th Select
	%tbody
		- @members.each do |member|
			%tr
				%td= member.name
				%td= member.email
				%td= member.role
				%td= check_box_tag "members[#{member.name}]"
= form_tag "members/email", :method => :get, :id => 'send_form' do
	Members: 
	- @members.each do |member|
		= member.name
		= check_box_tag "members[#{member.name}]"
	= submit_tag 'Send Request', :id => 'request_sent'
